{% extends 'gramapp/base1.html' %}

{% block title %} addauthority {% endblock title %}
{% block companyactive %} active {% endblock companyactive %}
{% block head %}
    <style>
        .container{
            width: 600px;
            border-style: groove;
            }

    </style>
{% endblock head %}

{% block body %}
</br>
<center><h2 >Grampanchayat Authorities</h2></center>
<form class="container" method="post" action="" enctype="multipart/form-data">

<center>
    {% csrf_token %}

    <div class="form-group">
        <label for="authorityfname" class="form-label">Authority's First Name</label>
        <input type="text" class="form-control" id="authorityfname" name="authorityfname" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="authoritylname" class="form-label">Authority's Last Name</label>
        <input type="text" class="form-control" id="authoritylname" name="authoritylname" autocomplete="off" required>
    </div>

        <div class="form-group">
        <label for="authority" class="form-label">Authority</label>
        <input type="text" class="form-control" id="authority" name="authority" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="authoritymobno" class="form-label">Authority's Mob No</label>
        <input type="text" class="form-control" id="authoritymobno" name="authoritymobno" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="authorityphoto" class="form-label">Authority's Photo</label>
        <input type="file" accept="image/*" class="form-control" id="authorityphoto" name="authorityphoto" required>
    </div>

    <div class="form-group">
        <label for="authorityemail" class="form-label">Authority's Email</label>
        <input type="email" class="form-control" id="authorityemail" name="authorityemail" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="authorityusername" class="form-label">Authority's Username</label>
        <input type="text" class="form-control" id="authorityusername" name="authorityusername" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="authoritypass" class="form-label">Authority's Password</label>
        <input type="password" class="form-control" id="authoritypass" name="authoritypass" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="authoritycnfmpass" class="form-label">Authority's Confirm Password</label>
        <input type="password" class="form-control" id="authoritycnfmpass" name="authoritycnfmpass" autocomplete="off" required>
    </div>



    <button class="btn btn-primary " type="submit" >Submit</button>
</center>
</form>
{% endblock body %}