{% extends 'gramapp/base1.html' %}

{% block title %} addfamilymember {% endblock title %}
{% block familyactive %} active {% endblock familyactive %}
{% block head %}


<style>
    .container {
        width: 600px;
        border-style: groove;
    }
</style>
{% endblock head %}

{% block body %}
<br>
<form method="post" class="container" action="{% url 'addFamilymember' %}">
    <center>
        {% csrf_token %}
        <br>

        <div class="card body">
            <div class="row">
                <select name="dept" id="department" class="form-control">
                    <option value="0">--Select Department--</option>
                    {% for item in grampanchayat %}
                    <option value="{{ item.gramname }}">{{ item.gramname }}</option>
                    {% endfor %}
                </select>

                <select name="emp" id="Employee" class="form-control">
                    <option value="0">--Select Staff--</option>
                    {% for item in familyhead %}
                    <option value="{{ item.grampanchayat }}">{{ item.user }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>





        <script>

            $(document).ready(function () {

                var department = $("#department");
                var Employee = $("#Employee");
                var $options = Employee.find('option');
                department.on('change', function () {
                    Employee.html($options.filter('[value="' + this.value + '"]'));
                }).trigger('change');


            });
        </script>

    </center>
</form>
{% endblock body %}