{% extends 'gramapp/base1.html' %}

{% block title %} addfamily {% endblock title %}
{% block companyactive %} active {% endblock companyactive %}
{% block head %}
    <style>
        .container{
            width: 600px;
            border-style: groove;
            }

    </style>
{% endblock head %}

{% block body %}
</br>
<center><h2 >Add Family Details</h2></center>
<form class="container" method="post" action="" enctype="multipart/form-data">

<center>
    {% csrf_token %}

    <div class="form-group">
        <label for="familyid" class="form-label">Family id:</label>
        <input type="text" class="form-control" id="familyid" name="familyid" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="familyheadid" class="form-label">Family Head id:</label>
        <input type="text" class="form-control" id="familyheadid" name="familyheadid" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="familyheadname" class="form-label">Family Head name:</label>
        <input type="text" class="form-control" id="familyheadname" name="familyheadname" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="familyheadgender" class="form-label">Gender:</label>
        <input type="text" class="form-control" id="familyheadgender" name="familyheadgender" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="familyheadcontact" class="form-label">Family Head Contact:</label>
        <input type="text" class="form-control" id="familyheadcontact" name="familyheadcontact" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="familyheadadharno" class="form-label">Family Head Adhar No.:</label>
        <input type="text" class="form-control" id="familyheadadharno" name="familyheadadharno" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="familyincome" class="form-label">Family Income:</label>
        <input type="text" class="form-control" id="familyincome" name="familyincome" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="rationcardtype" class="form-label">Ration Card Type:</label>
        <input type="text" class="form-control" id="rationcardtype" name="rationcardtype" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="rationcardno" class="form-label">Ration Card No.:</label>
        <input type="text" class="form-control" id="rationcardno" name="rationcardno" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="nooffamilymember" class="form-label">No.Of Family Members:</label>
        <input type="text" class="form-control" id="nooffamilymember" name="nooffamilymember" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="familyheadphoto" class="form-label">Family Head Photo</label>
        <input type="file" accept="image/*" class="form-control" id="familyheadphoto" name="familyheadphoto" required>
    </div>

    <button class="btn btn-primary " type="submit" >Next</button>
</center>
</form>
{% endblock body %}