{% extends 'gramapp/base1.html' %}

{% block title %} addgram {% endblock title %}
{% block companyactive %} active {% endblock companyactive %}
{% block head %}
<style>
    .container {
        width: 600px;
        border-style: groove;
    }
</style>
{% endblock head %}

{% block body %}
</br>
<center>
    <h2>Add Gram Details</h2>
</center>
<form class="container" method="post" action="" enctype="multipart/form-data">

    <center>
        {% csrf_token %}

<!--        <div class="card body">-->

<!--            <div>-->
<!--                <label for="state" class="form-label">State Name</label>-->
<!--                <select name="dept" id="state" class="form-control">-->
<!--                    <option value="0">&#45;&#45;Select State&#45;&#45;</option>-->
<!--                    {% for item in states %}-->
<!--                    <option value="{{ item.state_name }}">{{ item.state_name }}</option>-->
<!--                    {% endfor %}-->
<!--                </select>-->
<!--            </div>-->

<!--            <div>-->
<!--                <label for="district" class="form-label">District Name</label>-->
<!--                <select name="emp" id="district" class="form-control">-->
<!--                    <option value="0">&#45;&#45;Select District&#45;&#45;</option>-->
<!--                    {% for item in districts %}-->
<!--                    <option value="{{ item.state_name }}">{{ item.district_name }}</option>-->
<!--                    {% endfor %}-->
<!--                </select>-->
<!--            </div>-->

<!--            <div>-->
<!--                <label for="taluka" class="form-label">Taluka Name</label>-->
<!--                <select name="emp" id="taluka" class="form-control">-->
<!--                    <option value="0">&#45;&#45;Select Taluka&#45;&#45;</option>-->
<!--                    {% for item in talukas %}-->
<!--                    <option value="{{ item.district_name }}">{{ item.taluka_name }}</option>-->
<!--                    {% endfor %}-->
<!--                </select>-->
<!--            </div>-->

<!--        </div>-->






<!--        <script>-->

<!--            $(document).ready(function () {-->

<!--                var state = $("#state");-->
<!--                var district1 = $("#district");-->


<!--                var taluka = $("#taluka");-->
<!--                var $options = district1.find('option');-->
<!--                var $options1 = taluka.find('option');-->

<!--                state.on('change', function () {-->
<!--                    district1.html($options.filter('[value="' + this.value + '"]'));-->
<!--                }).trigger('change');-->

<!--                district1.on('change', function () {-->
<!--                var selected_district = district.options[district.selectedIndex].text;-->


<!--                    taluka.html($options1.filter('[value="' + selected_district + '"]'));-->
<!--                }).trigger('change');-->
<!--            });-->


<!--        </script>-->


        <div class="form-group">
            <label for="gramname" class="form-label">Gram Name</label>
            <input type="text" class="form-control" id="gramname" name="gramname" autocomplete="off" required>
        </div>

        <div class="form-group">
            <label for="gramcontact" class="form-label">Gram Contact No.</label>
            <input type="text" class="form-control" id="gramcontact" name="gramcontact" autocomplete="off" required>
        </div>

        <div class="form-group">
            <label for="gramemail" class="form-label">Gram Email</label>
            <input type="email" class="form-control" id="gramemail" name="gramemail" autocomplete="off" required>
        </div>

        <div class="form-group">
            <label for="gramaddress" class="form-label"> PIN Code</label>
            <input type="number" class="form-control" id="gramaddress" name="gramaddress" autocomplete="off" required>
        </div>

        <button class="btn btn-primary " type="submit">Submit</button>
    </center>
</form>
{% endblock body %}