{% extends 'gramapp/base1.html' %}

{% block title %} addhousetax {% endblock title %}
{% block houseactive %} active {% endblock houseactive %}
{% block head %}
    <style>
        .container{
            width: 600px;
            border-style: groove;
            }

    </style>
{% endblock head %}

{% block body %}
</br>
<center><h2 >add House Tax</h2></center>
<form class="container" method="post" action="" enctype="multipart/form-data">

<center>
    {% csrf_token %}


    <div class="form-group">
            <label for="housetype" class="form-label">House Type:</label>
            <select name="housetype" id="housetype" >
                <option value="rcc">RCC</option>
                <option value="loadbearing">Load Bearing</option>
            </select >
        </div>

    <div class="form-group">
        <label for="hosetaxrate" class="form-label">Rate(rupees/sq. feet) </label>
        <input type="text" class="form-control" id="hosetaxrate" name="hosetaxrate" autocomplete="off" required>
    </div>

    <button class="btn btn-primary " type="submit" >Submit</button>
</center>
</form>
{% endblock body %}