{% extends 'gramapp/base1.html' %}

{% block title %} addhouse {% endblock title %}
{% block companyactive %} active {% endblock companyactive %}
{% block head %}
    <style>
        .container{
            width: 600px;
            border-style: groove;
            }

    </style>
{% endblock head %}

{% block body %}
</br>
<center><h2 >Add House</h2></center>
<form class="container" method="post" action="" enctype="multipart/form-data">

<center>
    {% csrf_token %}
<!--    <div class="form-group">-->
<!--        <label for="houseid" class="form-label">House id :</label>-->
<!--        <input type="text" class="form-control" id="houseid" name="houseid" autocomplete="off" required>-->
<!--    </div>-->
    <div class="form-group">
        <label for="houseno" class="form-label">house number:</label>
        <input type="text" class="form-control" id="houseno" name="houseno" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="region" class="form-label">Region:</label>
        <input type="text" class="form-control" id="region" name="region" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="subregion" class="form-label">Sub-region:</label>
        <input type="text" class="form-control" id="subregion" name="subregion" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="housetype" class="form-label">House Type:</label>
        <input type="text" class="form-control" id="housetype" name="housetype" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="housearea" class="form-label">House area in sq.ft:</label>
        <input type="text" class="form-control" id="housearea" name="housearea" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="ownername" class="form-label">owner Nmae:</label>
        <input type="text" class="form-control" id="ownername" name="ownername" autocomplete="off" required>
    </div>



    <button class="btn btn-primary " type="submit" >Submit</button>
</center>
</form>
{% endblock body %}