{% extends 'gramapp/base1.html' %}

{% block title %} addhouse {% endblock title %}
{% block companyactive %} active {% endblock companyactive %}
{% block head %}
    <style>
        .container{
            width: 600px;
            border-style: groove;
            }

    </style>
{% endblock head %}

{% block body %}
</br>
<center><h2 >Add House</h2></center>
<form class="container" method="post" action="" enctype="multipart/form-data">

<center>
    {% csrf_token %}
    <div class="form-group">
        <label for="houseid" class="form-label">House id :</label>
        <input type="text" class="form-control" id="houseid" name="houseid" autocomplete="off" required>
    </div>
    <label for="vibhag" class="form-label"> Select vibhag</label>
    <select name="vibhag" id="vibhag" required>
         <option value="Havelinagar">Havelinagar</option>
         <option value=""></option>
    </select><br>
    <label for="vadi" class="form-label">Select vadi </label>
    <select name="vadi" id="vadi">
         <option value="Patelvadi">Patelvadi</option>
         <option value=""></option>
    </select>

<!--        <div class="form-group">-->
<!--        <label for="companyid" class="form-label">Company Id</label>-->
<!--        <input type="text" class="form-control" value="{{companyid}}" id="companyid" readonly>-->
<!--    </div>-->



    <div class="form-group">
        <label for="housetype" class="form-label">House Type:</label>
        <input type="text" class="form-control" id="housetype" name="housetype" autocomplete="off" required>
    </div>
<!--    <fieldset data-role="controlgroup">-->
<!--      <legend>Member gender:</legend>-->
<!--        <label for="male">Male</label>-->
<!--        <input type="radio" name="gender" id="male" value="male" checked><br>-->
<!--        <label for="female">Female</label>-->
<!--        <input type="radio" name="gender" id="female" value="female">-->
<!--      </fieldset>-->


    <div class="form-group">
        <label for="housedimension" class="form-label">House Dimension:</label>
        <input type="text" class="form-control" id="housedimension" name="housedimension" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="ownername" class="form-label">owner Nmae:</label>
        <input type="text" class="form-control" id="ownername" name="ownername" autocomplete="off" required>
    </div>
<!--    <div class="form-group">-->
<!--        <label for="birthday">Member Birthdate:</label>-->
<!--        <input type="date" id="birthday" name="birthday">  &lt;!&ndash;type="date" is not supported in Internet Explorer 11 or prior Safari 14.1.&ndash;&gt;-->
<!--        <input type="submit">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label for="companywebsite" class="form-label">Member Relation With Head:</label>-->
<!--        <input type="text" class="form-control" id="companywebsite" name="companywebsite" autocomplete="off" required>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="companywebsite" class="form-label">Family Income:</label>-->
<!--        <input type="text" class="form-control" id="companywebsite" name="companywebsite" autocomplete="off" required>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="companywebsite" class="form-label">Ration Card Type:</label>-->
<!--        <input type="text" class="form-control" id="companywebsite" name="companywebsite" autocomplete="off" required>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label for="companywebsite" class="form-label">No.Of Family Members:</label>-->
<!--        <input type="text" class="form-control" id="companywebsite" name="companywebsite" autocomplete="off" required>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="companylogo" class="form-label">Member Photo</label>-->
<!--        <input type="file" accept="image/*" class="form-control" id="companylogo" name="companylogo" required>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label for="ownername" class="form-label">Sarpanch Name</label>-->
<!--        <input type="text" class="form-control" id="ownername" name="ownername" autocomplete="off" required>-->
<!--    </div>-->


    <button class="btn btn-primary " type="submit" >Submit</button>
</center>
</form>
{% endblock body %}