{% extends 'gramapp/base1.html' %}

{% block title %} addhouse {% endblock title %}
{% block companyactive %} active {% endblock companyactive %}
{% block head %}
    <style>
        .container{
            width: 600px;
            border-style: groove;
            }

    </style>
{% endblock head %}

{% block body %}
</br>
<center><h2 >Add House</h2></center>
<form class="container" method="post" action="" enctype="multipart/form-data">

<center>
    {% csrf_token %}
    <div class="form-group">
        <label for="houseid" class="form-label">House id :</label>
        <input type="text" class="form-control" id="houseid" name="houseid" autocomplete="off" required>
    </div>
    <label for="region" class="form-label"> Select region</label>
    <select name="region" id="region" required>
         <option value="Havelinagar">Havelinagar</option>
         <option value=""></option>
    </select><br>
    <label for="subregion" class="form-label">Select subregion </label>
    <select name="subregion" id="subregion">
         <option value="Patelvadi">Patelvadi</option>
         <option value=""></option>
    </select>





    <div class="form-group">
        <label for="housetype" class="form-label">House Type:</label>
        <input type="text" class="form-control" id="housetype" name="housetype" autocomplete="off" required>
    </div>



    <div class="form-group">
        <label for="housedimension" class="form-label">House Dimension:</label>
        <input type="text" class="form-control" id="housedimension" name="housedimension" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="ownername" class="form-label">owner Nmae:</label>
        <input type="text" class="form-control" id="ownername" name="ownername" autocomplete="off" required>
    </div>



    <button class="btn btn-primary " type="submit" >Submit</button>
</center>
</form>
{% endblock body %}