{% extends 'gramapp/base1.html' %}

{% block title %} addspot {% endblock title %}
{% block companyactive %} active {% endblock companyactive %}
{% block head %}
    <style>
        .container{
            width: 600px;
            border-style: groove;
            }

    </style>
{% endblock head %}

{% block body %}
</br>
<center><h2 >add famous spot</h2></center>
<form class="container" method="post" action="" enctype="multipart/form-data">

<center>
    {% csrf_token %}
<!--    <label for="vibhag" class="form-label"> Select vibhag</label>-->
<!--    <select name="vibhag" id="vibhag">-->
<!--         <option value="Havelinagar">Havelinagar</option>-->
<!--         <option value=""></option>-->
<!--    </select><br>-->
<!--    <label for="vadi" class="form-label">Select vadi </label>-->
<!--    <select name="vadi" id="vadi">-->
<!--         <option value="Patelvadi">Patelvadi</option>-->
<!--         <option value=""></option>-->
<!--    </select>-->

        <div class="form-group">
        <label for="spotid" class="form-label">Spot Id:</label>
        <input type="text" class="form-control" value="{{spotid}}" id="spotid" readonly>
    </div>

    <div class="form-group">
        <label for="spottype" class="form-label">Spot Type:</label>
        <input type="text" class="form-control" id="spottype" name="spottype" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="spotname" class="form-label">Spot Name:</label>
        <input type="text" class="form-control" id="spotname" name="spotname" autocomplete="off" required>
    </div>
<!--    <fieldset data-role="controlgroup">-->
<!--      <legend>Member gender:</legend>-->
<!--        <label for="male">Male</label>-->
<!--        <input type="radio" name="gender" id="male" value="male" checked><br>-->
<!--        <label for="female">Female</label>-->
<!--        <input type="radio" name="gender" id="female" value="female">-->
<!--      </fieldset>-->


    <div class="form-group">
        <label for="spotlocation" class="form-label">Spot Location:</label>
        <input type="text" class="form-control" id="spotlocation" name="spotlocation" autocomplete="off" required>
    </div>


    <div class="form-group">
        <label for="spotimage" class="form-label">Spot Images:</label>
        <input type="file" accept="image/*" class="form-control" id="spotimage" name="spotimage" required>
    </div>

    <div class="form-group">
        <label for="spotdescription" class="form-label">Spot Description:</label>
        <input type="text" class="form-control" id="spotdescription" name="spotdescription" autocomplete="off" required>
    </div>


    <button class="btn btn-primary " type="submit" >Submit</button>
</center>
</form>
{% endblock body %}