{% extends 'gramapp/base1.html' %}

{% block title %} Add Scheme {% endblock title %}
{% block notice&scheme %} active {% endblock notice&scheme %}
{% block head %}
    <style>
        .container{
            width: 600px;
            border-style: groove;
            }

    </style>
{% endblock head %}

{% block body %}
</br>
<center><h2 >Add Scheme</h2></center>
<form class="container" method="post" action="" enctype="multipart/form-data">

<center>
    {% csrf_token %}

    <div class="form-group">
        <label for="schemename" class="form-label">Scheme Name:</label>
        <input type="text" class="form-control" id="schemename" name="schemename" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="schemedescription" class="form-label">Scheme Description:</label>
        <textarea class="form-control" id="schemedescription" name="schemedescription"></textarea>
    </div>

    <div class="form-group">
        <label for="schemephoto" class="form-label">Scheme Image :</label>
        <input type="file" accept="image/*" class="form-control" id="schemephoto" name="schemephoto" >
    </div>



    <button class="btn btn-primary " type="submit" >Submit</button>
</center>
</form>
{% endblock body %}