{% extends 'gramapp/base1.html' %}

{% block title %} Add Water Connection {% endblock title %}
{% block wateractive %} active {% endblock wateractive %}
{% block head %}
    <style>
        .container{
            width: 600px;
            border-style: groove;
            }

    </style>
{% endblock head %}

{% block body %}
</br>
<center><h2 >Add Water Connection</h2></center>
<form class="container" method="post" action="" enctype="multipart/form-data">

<center>
    {% csrf_token %}


    <div class="form-group">
        <label for="waterconnectionno" class="form-label">Connection Number:</label>
        <input type="number" class="form-control" id="waterconnectionno" name="waterconnectionno" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="region" class="form-label">Region:</label>
        <input type="text" class="form-control" id="region" name="region" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="subregion" class="form-label">Sub-region:</label>
        <input type="text" class="form-control" id="subregion" name="subregion" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="waterconnectiontype" class="form-label">Connection Type:</label>
            <select name="waterconnectiontype" id="waterconnectiontype" >
                <option value="domestic">Domestic</option>
                <option value="commercial">Commercial</option>
            </select >
    </div>
    <div>
        <label for="ownername" class="form-label">Owner Name:</label><br>
        <select name="ownername" id="ownername" class="form-control">
                {% for familyhead in familyheads %}
                    <option value="{{ familyhead.familyheadid }}"> {{ familyhead.user }}</option>
                {% endfor %}
        </select>
    </div><br>

    <button class="btn btn-primary " type="submit" >Submit</button>
</center>
</form>
{% endblock body %}