{% extends 'gramapp/base1.html' %}

{% block title %} addhousetax {% endblock title %}
{% block companyactive %} active {% endblock companyactive %}
{% block head %}
    <style>
        .container{
            width: 600px;
            border-style: groove;
            }

    </style>
{% endblock head %}

{% block body %}
</br>
<center><h2 >Add Water Tax</h2></center>
<form class="container" method="post" action="" enctype="multipart/form-data">

<center>
    {% csrf_token %}

<!--    <div class="form-group">-->
<!--        <label for="watertaxid" class="form-label">Connection Type Id:</label>-->
<!--        <input type="text" class="form-control"  id="watertaxid" readonly>-->
<!--    </div>-->

    <div class="form-group">
        <label for="waterconnectiontype" class="form-label">Connection Type:</label>
        <input type="text" class="form-control" id="waterconnectiontype" name="waterconnectiontype" autocomplete="off" required>
    </div>

    <div class="form-group">
        <label for="watertaxrate" class="form-label">Rate(rupees/liter) </label>
        <input type="text" class="form-control" id="watertaxrate" name="watertaxrate" autocomplete="off" required>
    </div>

    <button class="btn btn-primary " type="submit" >Submit</button>
</center>
</form>
{% endblock body %}