<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  ajax  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>{% block title %} {% endblock title %}</title>
    {% block head %} {% endblock head %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home1' %}">
            <img src="media/logo/mygram logo.png" width="70" height="35" class="d-inline-block align-top" alt="">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block homeactive %}  {% endblock homeactive %}">
                    <a class="nav-link" href="{% url 'home1' %}">Home <span class="sr-only">(current)</span></a>
                </li>

                {% if user.is_superuser %}
                <li class="nav-item dropdown {% block gramactive %}  {% endblock gramactive %}">
                    <a class="nav-link dropdown-toggle" href="#" id="grampanchayat" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Grampanchayat
                    </a>
                    <div class="dropdown-menu" aria-labelledby="grampanchayat">
                        <a class="dropdown-item" href="{% url 'addgram' %}">Add Grampanchayat</a>
                        <a class="dropdown-item" href="{% url 'viewgram' %}">View Grampanchayat</a>
                    </div>
                </li>
                {% endif %}
                {% if user.is_staff %}
                {% if not user.is_superuser %}

                <li class="nav-item dropdown {% block familyactive %}  {% endblock familyactive %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Family
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'addfamilyhead' %}">Add Family Head</a>
                        <a class="dropdown-item" href="{% url 'addFamilymember' %}">Add Family Member</a>
                        <a class="dropdown-item" href="{% url 'viewFamily' %}">View Family</a>

                    </div>
                </li>


                <li class="nav-item dropdown {% block Menu %}  {% endblock Menu %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'addBirthDetails' %}">Add Birth Details</a>
                        <a class="dropdown-item" href="{% url 'addHouse' %}">Add House</a>
                        <a class="dropdown-item" href="">Add Marriage Info</a>
                        <a class="dropdown-item" href="{% url 'addScheme' %}">Add Scheme</a>
                        <a class="dropdown-item" href="">Add Spot</a>
                        <a class="dropdown-item" href="{% url 'waterConnectioninfo' %}">Add Water Connection info</a>
                    </div>

                </li>
                <li class="nav-item dropdown {% block tax %}  {% endblock tax %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Tax Information
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'addHousetax' %}">Add House Tax</a>
                        <a class="dropdown-item" href="{% url 'addWatertax' %}">Add Water Tax</a>
                    </div>
                    {% endif %}
                    {% endif %}

                <li class="nav-item {% block aboutactive %}  {% endblock aboutactive %}">
                    <a class="nav-link" href="/about">About</a>
                </li>


            </ul>



            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button"
                        data-toggle="dropdown"> Welcome {{request.user}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        {% else %}
        <!-- Button to  trigger Login modal -->
        <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#loginModal">
            Login
        </button>

        {% endif %}

    </nav>


    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message : </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    {% block js %} {% endblock js %}
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="login/" method="POST"> {% csrf_token %}
                        <div class="form-group">
                            <label for="loginemail">Username</label>
                            <input type="text" class="form-control" id="loginemail" name="loginemail"
                                placeholder="Enter your username " required>
                        </div>
                        <div class="form-group">
                            <label for="loginpassword">Password </label>
                            <input type="password" class="form-control" id="loginpassword" name="loginpassword"
                                placeholder="Enter your password " required>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    {% block body %} {% endblock body %}
    <br>
    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="p-4">

            <!--    &lt;!&ndash; Section: Social media &ndash;&gt;-->
            <!--    <section class="mb-4 bg-dark p-4">-->
            <!--    &lt;!&ndash; Facebook &ndash;&gt;-->
            <!--<a class="btn text-white" style="background-color: #3b5998;" href="#!" role="button">-->
            <!--  <i class="fab fa-facebook-f"></i>-->
            <!--</a>-->


            <!--    &lt;!&ndash; Twitter &ndash;&gt;-->
            <!--    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>-->

            <!--    &lt;!&ndash; Google &ndash;&gt;-->
            <!--    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>-->

            <!--    &lt;!&ndash; Instagram &ndash;&gt;-->
            <!--    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>-->

            <!--    &lt;!&ndash; Linkedin &ndash;&gt;-->
            <!--    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>-->

            <!--    &lt;!&ndash; Github &ndash;&gt;-->
            <!--    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>-->
            <!--  </section>-->
            <!-- Section: Dark variant -->
            <!-- Section: Form -->
            <section class="">
                <form action="">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">
                        <!--Grid column-->
                        <div class="col-auto">
                            <p class="pt-2">
                                <strong>Enter email for update</strong>
                            </p>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-5 col-12">
                            <!-- Email input -->
                            <div class="form-outline form-white mb-4">
                                <input type="email" id="form5Example21" class="form-control" autocomplete="off" />
                                <label class="form-label" for="form5Example21">Email address</label>
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-auto">
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-outline-light mb-4">
                                Subscribe
                            </button>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </form>
            </section>
            <!-- Section: Form -->

            <!-- Section: Text -->
            <section class="mb-4">
                <p>

                    Sindhudurg Shikshan Prasarak Mandal's College of Engineering, Kankavli.</br>

                    A/P-Harkul Budruk, Tal- Kankavli. Dist-Sindhudurg.Maharashtra. 416602</br>

                    PHONE: 91-2367-299214(office)/ 299442(Principal)</br>

                    Email :sspmcoe@gmail.com Web: https://www.sspmcoe.ac.in Exam section : sspmcoeexam@gmail.com</br>

                    Name & Address of the Principal- Dr.Aneesh Gangal, A/P-Harkul Budruk, Tal- Kankavli.
                    Dist-Sindhudurg.Maharashtra. 416602</br>
                    Email:principal@sspmcoe.ac.in.</br>
                    PHONE: 91-2367-299214/299442/299112<br><br>

                </p>
            </section>
            <!-- Section: Text -->

            <!-- Section: Links -->
            <!--    <section class="">-->
            <!--      &lt;!&ndash;Grid row&ndash;&gt;-->
            <!--      <div class="row">-->
            <!--        &lt;!&ndash;Grid column&ndash;&gt;-->
            <!--        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
            <!--          <h5 class="text-uppercase">Links</h5>-->

            <!--          <ul class="list-unstyled mb-0">-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 1</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 2</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 3</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 4</a>-->
            <!--            </li>-->
            <!--          </ul>-->
            <!--        </div>-->
            <!--        &lt;!&ndash;Grid column&ndash;&gt;-->

            <!--        &lt;!&ndash;Grid column&ndash;&gt;-->
            <!--        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
            <!--          <h5 class="text-uppercase">Links</h5>-->

            <!--          <ul class="list-unstyled mb-0">-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 1</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 2</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 3</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 4</a>-->
            <!--            </li>-->
            <!--          </ul>-->
            <!--        </div>-->
            <!--        &lt;!&ndash;Grid column&ndash;&gt;-->

            <!--        &lt;!&ndash;Grid column&ndash;&gt;-->
            <!--        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
            <!--          <h5 class="text-uppercase">Links</h5>-->

            <!--          <ul class="list-unstyled mb-0">-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 1</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 2</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 3</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 4</a>-->
            <!--            </li>-->
            <!--          </ul>-->
            <!--        </div>-->
            <!--        &lt;!&ndash;Grid column&ndash;&gt;-->

            <!--        &lt;!&ndash;Grid column&ndash;&gt;-->
            <!--        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
            <!--          <h5 class="text-uppercase">Links</h5>-->

            <!--          <ul class="list-unstyled mb-0">-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 1</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 2</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 3</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--              <a href="#!" class="text-white">Link 4</a>-->
            <!--            </li>-->
            <!--          </ul>-->
            <!--        </div>-->
            <!--        &lt;!&ndash;Grid column&ndash;&gt;-->
            <!--      </div>-->
            <!--      &lt;!&ndash;Grid row&ndash;&gt;-->
            <!--    </section>-->
            <!--    &lt;!&ndash; Section: Links &ndash;&gt;-->
            <!--  </div>-->
            <!--  &lt;!&ndash; Grid container &ndash;&gt;-->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


</body>

</html>