{% extends 'gramapp/base1.html' %}

{% block title %} home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner" >
    <div class="carousel-item active" >
      <img src="media/background/avam-e.jpg" alt="s" width="100%" height="450">
    </div>
    <div class="carousel-item">
      <img src="media/background/g20-banner_1.png" alt="r" width="100%" height="450">
    </div>
    <div class="carousel-item">
      <img src="media/background/image-1.jpg" alt="k"  width="100%" height="450">
    </div>
    <div class="carousel-item">
      <img src="media/background/001PR Upload.jpg" alt="k"  width="100%" height="450">
    </div>
  <
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
{% endblock body %}

