{% extends 'gramapp/base1.html' %}

{% block title %} housedetails {% endblock title %}
{% block Menuactive %} active {% endblock Menuactive %}

{% block head %}
    <style>

    </style>
{% endblock head %}

{% block body %}
<h3 style="text-align:center;">House Details</h3>
<div class="container">
    <div class="row justify-content-center">
        {% if houses %}
    {% for house in houses %}
        <div class="col md-6">
            <div class="card m-2" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title m-1">House id:- {{house.houseno}} </h5>
                    <h4 class="card-subtitle m-1">tax price :-{{house.housearea}}</h4>
                    <p class="card-text m-1">{{familyhead.familyheadgender}}</p>
                    <a href="" class="btn btn-primary mt-2">Details</a>
                </div>
            </div>
        </div>
            {% endfor %}

{% else %}
 <h4>No Families</h4>
{% endif %}
    </div>
</div>

{% endblock body %}