{% extends 'gramapp/base1.html' %}

{% block title %} Request Birth Certificate {% endblock title %}
{% block companyactive %} active {% endblock companyactive %}
{% block head %}
    <style>
        .container{
            width: 600px;
            border-style: groove;
            }

    </style>
{% endblock head %}

{% block body %}
</br>
<center><h2 >Request Birth Certificate</h2></center>
<form class="container" method="post" action="" enctype="multipart/form-data">

<center>
    {% csrf_token %}

    <div class="form-group">
            <label for="childname" class="form-label">Name of the Child</label>
            <input type="text" class="form-control" id="childname" name="childname" autocomplete="off" required>
        </div>

    <div class="form-group">
        <label for="birthdate" class="form-label">Birthdate</label>
        <input type="date" class="form-control" id="birthdate" name="birthdate" autocomplete="off" required>
    </div>


    <button class="btn btn-primary " type="submit" >Submit</button>
</center>
</form>
{% endblock body %}