{% extends 'gramapp/base1.html' %}

{% block title %} View Grampanchayat {% endblock title %}
{% block gramactive %} active {% endblock gramactive %}
{% block head %}
    <style>

    </style>
{% endblock head %}
{% block body %}


<center><h3>Grampanchayats</h3></center>

<div class="container">
    <div class="row justify-content-center">
        {% if grampanchayat %}
    {% for grampanchayat in grampanchayat %}
        <div class="col md-6">
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title m-1">{{grampanchayat.gramname}}</h5>
                    <h4 class="card-subtitle m-1">{{grampanchayat.gramaddress}}</h4>
                    <p class="card-text m-1">{{grampanchayat.gramadminmobno}}</p>
                    <a href="{% url 'gramdetail' grampanchayat.pk %}" class="btn btn-primary mt-2">Details</a>
                </div>
            </div>
        </div>
            {% endfor %}

{% else %}
 <h4>No Grampanchayat</h4>
{% endif %}
    </div>
</div>


{% endblock body %}